.container {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-bottom: 20px;
}
.mainContainer {
  margin: 50px 0px 0px 0px;
}


.content {
}

.title{
  margin-bottom: 10px;
}

.desc{
  font-size: 18px;
  color: #999;
}
.mainHeader {
  text-decoration:underline;
  text-align: center;
  padding: 20px 0px 60px 0px;
}
.mainSubheader {
  text-align: center;
  padding: 0px 0px 60px 0px;
}

@media (max-width: 767px) {
  .container {
    flex-direction: column-reverse;
    gap: 10px;
    text-align: center;
    margin-bottom: 30px;
  }
  .mainContainer {
    margin: 20px 0px 0px 0px;
  }
  .imageContainer {
    order: 2;
  }

  .content {
    order: 1;
  }
  .mainHeader {
    padding: 0px 0px 30px 0px;
    margin-top: -10px;
  }
  .mainSubheader {
    text-align: center;
    padding: 0px 0px 30px 0px;
  }
}