
.form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: fit-content;
  font-size: 16px;
  max-width: 100%;

  }
  
  .input,
  .textArea {
    padding: 20px;
    background-color: transparent;
    border: none;
    outline: none;
    color: #bbb;
    border: 3px solid #bbb;
    font-size: 20px;
    font-weight: bold;
    
  }
  .container {
    padding: 20px;
    cursor: pointer;
    background-color: #53c28b;
    border: none;
    border-radius: 5px;
    width: max-content;
    color: white;

  }

  .textArea,
  #text {
    padding: 15px;
    background-color: transparent;
    border: none;
    outline: none;
    color: #bbb;
    border: 3px solid #bbb;
    font-size: 20px;
    font-weight: bold;
    max-height: 300px;
    width: 280px;
    min-width: 250px;
  }
  
  .container {
    padding: 20px;
    cursor: pointer;
    background-color: #53c28b;
    border: none;
    border-radius: 5px;
    width: max-content;
    color: white;
    
  }
  .button {
    padding: 20px;
    margin-top: 20px;
    cursor: pointer;
    background-image: linear-gradient(to left, #6653c2, #ff6b6b);
    border: none;
    border-radius: 5px;
    width: max-content;
    color: white;
    transition: transform 0.2s ease-in-out; /* Add a transition for the transform property */
  }
  
  .button:active {
    transform: scale(0.95); /* Add a scale transform when the button is pressed */
  }
  .buttonPressed {
    transform: scale(0.95);
  }
  .successMessage {
    margin-top: 10px;
    font-size: 18px;
    color: green;

  }
  .successMessage.visible {
    display: block;
  }
  
  .errorText {
    color: red;
    font-size: 24px;
    margin-top: 5px;
    text-align: center;
  }
  @media (max-width: 399px) {
    .form {
      max-width: 50%;
    }
    .textArea,
    #text {
    font-weight: lighter;
      width: 280px;
      font-size: 14px;
      height: 100px;
    }
  }
  .input,
  .textArea {
   width:215px;
   border: 2px solid #bbb;
   font-size: 15px;
   font-weight: bold;
  }
