.container {
  display: flex;
  gap: 100px;
}

.posts {
  flex: 1;
}
.imageLink {
  text-decoration: underline;
  animation-name: fadeInOut;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

/* Define the animation keyframes */
@keyframes fadeInOut {
  0%, 100% {
color:red;  }
  50% {
    color: black;
  }
}
.post {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 0px;
}
.heading {
  text-align: center;
  align-content: center;
 
}
.arrowBigDown {
  animation-name: moveUpDown;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes moveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px); /* Adjust the value to control the distance of the movement */
  }
}
.imgContainer {
  width: 200px;
  height: 100px;
  position: relative;
}

.img {
  object-fit: cover;
}

.delete {
  cursor: pointer;
  color: red;
}

.new {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.subHeading {
  font-size: 30px;
}
.input,
.textArea {
  padding: 10px;
  background-color: transparent;
  border: 2px solid #bbb;
  border-radius: 3px;
  color: #bbb;
  font-size: 20px;
  font-weight: bold;
}
.newPost {
  font-size: 80px;
}
.button {
  padding: 20px;
  cursor: pointer;
  background-color: #53c28b;
  border: none;
  border-radius: 5px;
  color: #eee;
  font-weight: bold;
}
@media (max-width: 600px) {
  .container {
    flex-direction: column; /* Stacking elements vertically */
    gap: 20px; /* Reducing the gap between elements */
  }

  .posts {
    order: 2; /* Placing .posts after .new in the stacking order */
  }

  .new {
    order: 1; /* Placing .new before .posts in the stacking order */
  }
  .post {
    align-items: flex-start; /* Align elements to the left */
    margin: 20px 0px 0px 0px; /* Reduce the vertical margin */
    flex-direction: column; /* Change the direction to column */
    align-items: center;
  }

  .postContent {
    width: 100%; /* Take the full width */
    padding: 20px 20px; /* Add horizontal padding for spacing */
  }

  .postTitle {
    margin: 30px 0px 10px 0px; /* Add vertical margin between title and delete */
  }
}
